<% include ../partials/header %>



    <header class ="jumbotron">
        <div class ="container">
            <H1>Welcome To CampSite</H1>
            <p>Rediscover The Joy Of Camping...</p>
                <a class = "btn btn-primary btn-lg" href="/campgrounds/new">Add New Campground!</a>
        </div>
    </header>
<div class = "container">
    <div class ="row text-center" style="display: flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class ="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src ="<%= campground.image %>" style="width: 300px; height: 200px; object-fit: cover;">
                    <div class="caption">
                        <H4><%= campground.name %></H4>
                    </div>
                    <p>
                        <a href="/campgrounds/<%= campground._id %>" class ="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<% include ../partials/footer %>